body{
    background-color: lightslategray;
    }
h1{
    border: solid 1px;
    text-align: center;
    color:black;
    background-color: lightblue;
    border-radius: 1em;
    text-decoration: solid;
    font-style: inherit;
    font-style: italic;
    }
span{
    font-style: italic;
    color: rgb(109, 96, 20);
    text-align: center;
    }
        img {
          margin: auto;
          display: block;
        }

        .small_pizza {
            flex: 1;
            border: 1px solid;
            padding: 1em;
            margin: 1em;
            border-radius: 1em;
            background-color: yellow;
            text-align: center;
        }
        .medium_pizza {
            flex: 1;
            border: 1px solid;
            padding: 1em;
            margin: 1em;
            border-radius: 1em;
            background-color: orange;
            text-align: center;
        }
        .large_pizza {
            flex: 1;
            border: 1px solid;
            padding: 1em;
            margin: 1em;
            border-radius: 1em;
            background-color: red;
            text-align: center;
        }
        @media(min-width: 760px) {
            .pizzas{
            display: flex;
            }
        }

        .footer{
            background-color: brown;
            border: 1px solid;
            border-radius: 1em;
            padding: 1em;
            margin: 1em;
        }
        .hours{
            text-align: right;
        }